node_modules
.vscode-test/
.vscode-test.bat
.vscode-test.sh
out/
src/
media/
.gitignore
vsc-extension-quickstart.md
webpack.config.js
tsconfig.json
package-lock.json
package.json
README.md
CHANGELOG.md
!LICENSE
.vscode
.es
.eslint
.eslintignore
